@import "mixins/colors";

// -------------------------------------------------------------
// FIXED COLORS
// -------------------------------------------------------------
$black: #1d1d21;
$gray-9: #2e2e31;
$gray-8: #4f4f54;
$gray-7: #5f5f66;
$gray-6: #929299;
$gray-5: #acacb1;
$gray-4: #c7c7ca;
$gray-3: #e1e1e3;
$gray-2: #f2f2f3;
$gray-1: #fafafa;
$white: #fff;

$color-success: #88c459;
$color-success-bg: color-bg($color-success);
$color-success-bg-accent: color-bg-accent($color-success);
$color-error: #f5414f;
$color-error-bg: color-bg($color-error);
$color-error-bg-accent: color-bg-accent($color-error);
$color-warning: #ffd137;
$color-warning-bg: color-bg($color-warning);
$color-warning-bg-accent: color-bg-accent($color-warning);

$color-primary: #4d84f4;
$color-primary-bg: rgba($color-primary, 0.2);
$color-primary-dark: darken($color-primary, 15%);
$color-primary-light: lighten($color-primary, 15%);
$color-accent: #f5414f;
$color-accent-bg: rgba($color-accent, 0.2);
$color-accent-dark: darken($color-accent, 15%);
$color-accent-light: lighten($color-accent, 15%);

/* Brand */
$color-brand: #efc755;

/* border */
$color-border: $gray-2;

/* body */
$color-body: $gray-1;

/* typography */
$color-text: $gray-9;
$color-text-heading: $black;
$color-text-subtle: $gray-6;
$color-link: $color-primary;
$color-link-visited: $color-primary-dark;
$color-mark: $color-accent-bg;
$color-blockquote-border: $gray-2;

/* forms */
$form-element-border: $color-border;
$form-element-border-focus: $color-primary;
$form-element-border-error: $color-error;
$form-element-bg: $white;
$form-text-placeholder: $gray-4;

/* buttons */
$btn-primary-bg: $color-primary;
$btn-primary-hover: $color-primary-light;
$btn-primary-active: $color-primary-dark;
$btn-primary-label: $white;

/* icons */
$color-icon-primary: $gray-4;
$color-icon-secondary: inherit;
