// -------------------------------------------------------------
// IMPORTS
// -------------------------------------------------------------
@import "colors";

$enable-gradients: false;
$enable-shadows: true;

:root {
  // -------------------------------------------------------------
  // BORDER
  // -------------------------------------------------------------
  --border-radius-round: 20px;
  --border-radius-std: 6px;
  // --border-width: 1px;

  // -------------------------------------------------------------
  // COLORS
  // -------------------------------------------------------------
  --color-error: $color-error;
  --color-success: $color-success;
  --color-warning: $color-warning;

  // -------------------------------------------------------------
  // LAYOUT
  // -------------------------------------------------------------
  --layout-padding: 1rem;

  // -------------------------------------------------------------
  // ANIMATION VALUES
  // -------------------------------------------------------------
  --transition-duration: 0.4s;
  --transition-style: ease-in-out;
}
