// -------------------------------------------------------------
// IMPORTS
// -------------------------------------------------------------

:root {
  --border-radius: 4px;
  --border-width: 1px;

  // -------------------------------------------------------------
  // ENABLE FUNCTIONNALITIES
  // -------------------------------------------------------------
  --enable-gradients: false;
  --enable-shadows: true;

  // -------------------------------------------------------------
  // LAYOUT
  // -------------------------------------------------------------
  --layout-padding: 1rem;

  // -------------------------------------------------------------
  // ANIMATION VALUES
  // -------------------------------------------------------------
  --transition-duration: 0.4s;
  --transition-style: ease-in-out;
}
