// -------------------------------------------------------------
// IMPORTS
// -------------------------------------------------------------
@import "colors";

:root {
  // -------------------------------------------------------------
  // BORDER
  // -------------------------------------------------------------
  --border-radius: 8px;
  --border-width: 1px;

  // -------------------------------------------------------------
  // COLORS
  // -------------------------------------------------------------
  --color-error: $color-error;
  --color-success: $color-success;
  --color-warning: $color-warning;

  // -------------------------------------------------------------
  // ENABLE FUNCTIONNALITIES
  // -------------------------------------------------------------
  --enable-gradients: false;
  --enable-shadows: true;

  // -------------------------------------------------------------
  // LAYOUT
  // -------------------------------------------------------------
  --layout-padding: 1rem;

  // -------------------------------------------------------------
  // ANIMATION VALUES
  // -------------------------------------------------------------
  --transition-duration: 0.4s;
  --transition-style: ease-in-out;
}
