@mixin animation(
  $name,
  $duration: var(--transition-duration),
  $style: var(--transition-style)
) {
  animation: $name $duration $style;
  // transition: all $duration $style;
}

@mixin rotate-hover {
  transform: rotate(180deg);
}

@mixin transition(
  $duration: var(--transition-duration),
  $style: var(--transition-style)
) {
  transition: all $duration $style;
}
