@mixin animation($name, $duration: 0.4s, $style: ease-out) {
  animation: $name;
  transition: all $duration $style;
}

@mixin click-button {
  transform: scale(0.7);
}

@mixin rotate-hover(
  $duration: var(--transition-duration),
  $style: var(--transition-style)
) {
  // transition: rotate $duration $style;
  transform: rotate(180deg);
}

@mixin transition {
  transition: all var(--transition-duration) var(--transition-style);
}
