@keyframes click-button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-hover {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
